

.player {
    width: calc(150px + 10vw);
    display: flex;
    align-items: center;
    background-color: rgba(134, 130, 128, 0.9);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        font-size: min(32px, 6vw);
        margin-left: 16px;
    }

    img {
        height: clamp(45px, 10vw, 85px);
        width: clamp(45px, 10vw, 85px);
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orangered;
}