.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/img/start-screen.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    div {
        display: flex;
        button {
            font-size: 48px;
            padding: 32px 56px;
            border: transparent 0;
            background-color: transparent;
            background-image: url('../../assets/img/new-game-label.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: -22px;
            color: white;
            &:hover {
                filter: brightness(1.3);
                cursor: pointer;
            }
        }
    }
}