<app-player
  *ngFor="let player of game.players; let i = index;"
  [ngStyle]="{'top.px': (1+i) * 130}"
  [name]="player"
  class="player-position"
  ></app-player>

<div class="game">

  <div>

    <!-- Card stack -->
    <img *ngFor="let card of [1, 2, 3, 4, 5]; let i = index;" [ngStyle]="{'right.px': (1+i) * 4}" src="/assets/img/card_cover.png">
    <img (click)="takeCard()" class="top-card" style="right: 25px;" src="/assets/img/cards/card_cover.png">
    
    <!-- Stack for played card -->
    <img *ngFor="let card of game.playedCards" class="played-card" src="/assets/img/cards/{{ card }}.png">
    
    <!-- Current card (animation) -->
    <img *ngIf="pickCardAnimation" (click)="takeCard()"  class="pick-card" style="right: 25px;" src="/assets/img/cards/{{ currentCard }}.png">
  
  </div>
</div>

<button mat-fab color='primary' (click)="openDialog()" class="btn-add">
  <mat-icon>add</mat-icon>
</button>